
Banana_Windows_x86_64/Banana.exe
Banana_Windows_x86_64/Banana_Data/app.info
Banana_Windows_x86_64/Banana_Data/boot.config
Banana_Windows_x86_64/Banana_Data/GI/level0/d8/d879d8f84dad702b137146d9028aad2c.caw
Banana_Windows_x86_64/Banana_Data/GI/level0/d8/d879d8f84dad702b137146d9028aad2c.ecm
Banana_Windows_x86_64/Banana_Data/GI/level0/d8/d879d8f84dad702b137146d9028aad2c.iws.sse
Banana_Windows_x86_64/Banana_Data/GI/level0/d8/d879d8f84dad702b137146d9028aad2c.rgb
Banana_Windows_x86_64/Banana_Data/GI/level0/d8/d879d8f84dad702b137146d9028aad2c.rsc.sse
Banana_Windows_x86_64/Banana_Data/GI/level0/d8/d879d8f84dad702b137146d9028aad2c.vis
Banana_Windows_x86_64/Banana_Data/globalgamemanagers
Banana_Windows_x86_64/Banana_Data/globalgamemanagers.assets
Banana_Windows_x86_64/Banana_Data/level0
Banana_Windows_x86_64/Banana_Data/Managed/Assembly-CSharp.dll
Banana_Windows_x86_64/Banana_Data/Managed/Google.Protobuf.dll
Banana_Windows_x86_64/Banana_Data/Managed/Grpc.Core.dll
Banana_Windows_x86_64/Banana_Data/Managed/Mono.Posix.dll
Banana_Windows_x86_64/Banana_Data/Managed/Mono.Security.dll
Banana_Windows_x86_64/Banana_Data/Managed/mscorlib.dll
Banana_Windows_x86_64/Banana_Data/Managed/System.Configuration.dll
Banana_Windows_x86_64/Banana_Data/Managed/System.Core.dll
Banana_Windows_x86_64/Banana_Data/Managed/System.dll
Banana_Windows_x86_64/Banana_Data/Managed/System.Interactive.Async.dll
Banana_Windows_x86_64/Banana_Data/Managed/System.Security.dll
Banana_Windows_x86_64/Banana_Data/Managed/System.Xml.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.AccessibilityModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.AIModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.AnimationModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.ARModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.AssetBundleModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.AudioModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.ClothModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.ClusterInputModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.ClusterRendererModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.CoreModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.CrashReportingModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.DirectorModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.GameCenterModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.GridModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.ImageConversionModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.IMGUIModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.InputModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.JSONSerializeModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.Networking.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.ParticlesLegacyModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.ParticleSystemModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.PerformanceReportingModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.Physics2DModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.PhysicsModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.ScreenCaptureModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.SharedInternalsModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.SpatialTracking.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.SpriteMaskModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.SpriteShapeModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.StandardEvents.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.StyleSheetsModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.TerrainModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.TerrainPhysicsModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.TextRenderingModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.TilemapModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.Timeline.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.UI.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.UIElementsModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.UIModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.UNETModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.UnityAnalyticsModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.UnityConnectModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.UnityWebRequestAudioModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.UnityWebRequestModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.UnityWebRequestTextureModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.UnityWebRequestWWWModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.VehiclesModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.VideoModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.VRModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.WebModule.dll
Banana_Windows_x86_64/Banana_Data/Managed/UnityEngine.WindModule.dll
Banana_Windows_x86_64/Banana_Data/MonoBleedingEdge/EmbedRuntime/mono-2.0-bdwgc.dll
Banana_Windows_x86_64/Banana_Data/MonoBleedingEdge/EmbedRuntime/MonoPosixHelper.dll
Banana_Windows_x86_64/Banana_Data/MonoBleedingEdge/etc/mono/2.0/Browsers/Compat.browser
Banana_Windows_x86_64/Banana_Data/MonoBleedingEdge/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
Banana_Windows_x86_64/Banana_Data/MonoBleedingEdge/etc/mono/2.0/machine.config
Banana_Windows_x86_64/Banana_Data/MonoBleedingEdge/etc/mono/2.0/settings.map
Banana_Windows_x86_64/Banana_Data/MonoBleedingEdge/etc/mono/2.0/web.config
Banana_Windows_x86_64/Banana_Data/MonoBleedingEdge/etc/mono/4.0/Browsers/Compat.browser
Banana_Windows_x86_64/Banana_Data/MonoBleedingEdge/etc/mono/4.0/DefaultWsdlHelpGenerator.aspx
Banana_Windows_x86_64/Banana_Data/MonoBleedingEdge/etc/mono/4.0/machine.config
Banana_Windows_x86_64/Banana_Data/MonoBleedingEdge/etc/mono/4.0/settings.map
Banana_Windows_x86_64/Banana_Data/MonoBleedingEdge/etc/mono/4.0/web.config
Banana_Windows_x86_64/Banana_Data/MonoBleedingEdge/etc/mono/4.5/Browsers/Compat.browser
Banana_Windows_x86_64/Banana_Data/MonoBleedingEdge/etc/mono/4.5/DefaultWsdlHelpGenerator.aspx
Banana_Windows_x86_64/Banana_Data/MonoBleedingEdge/etc/mono/4.5/machine.config
Banana_Windows_x86_64/Banana_Data/MonoBleedingEdge/etc/mono/4.5/settings.map
Banana_Windows_x86_64/Banana_Data/MonoBleedingEdge/etc/mono/4.5/web.config
Banana_Windows_x86_64/Banana_Data/MonoBleedingEdge/etc/mono/browscap.ini
Banana_Windows_x86_64/Banana_Data/MonoBleedingEdge/etc/mono/config
Banana_Windows_x86_64/Banana_Data/MonoBleedingEdge/etc/mono/mconfig/config.xml
Banana_Windows_x86_64/Banana_Data/Plugins/grpc_csharp_ext.x64.dll
Banana_Windows_x86_64/Banana_Data/Resources/unity default resources
Banana_Windows_x86_64/Banana_Data/Resources/unity_builtin_extra
Banana_Windows_x86_64/Banana_Data/sharedassets0.assets
Banana_Windows_x86_64/Banana_Data/sharedassets0.assets.resS
Banana_Windows_x86_64/UnityPlayer.dll
__pycache__/model.cpython-36.pyc
__pycache__/dqn_agent.cpython-36.pyc
.virtual_documents/Navigation.ipynb.py
.virtual_documents/Navigation-abgabe.ipynb.py
.ipynb_checkpoints/Navigation-checkpoint.ipynb
.ipynb_checkpoints/Navigation-abgabe-checkpoint.ipynb
.ipynb_checkpoints/model-checkpoint.py
.ipynb_checkpoints/dqn_agent-checkpoint.py
UnityPlayer.dll
unity-environment.log
UnityPlayer.dll
unity-environment.log
unity-environment.log
python/backup/Navigation-abgabe.ipynb
